appnope==0.1.0
backcall==0.1.0
decorator==4.3.0
Django==2.1
django-filter==2.0.0
django-webpack-loader==0.6.0
djangorestframework==3.8.2
dukpy==0.2.0
echarts-china-cities-pypkg==0.0.8
echarts-china-counties-pypkg==0.0.2
echarts-china-misc-pypkg==0.0.1
echarts-china-provinces-pypkg==0.0.2
echarts-countries-pypkg==0.1.4
future==0.16.0
ipython==6.5.0
ipython-genutils==0.2.0
javascripthon==0.10
jedi==0.12.1
Jinja2==2.10
jupyter-echarts-pypkg==0.1.2
lml==0.0.2
macropy3==1.1.0b2
Markdown==2.6.11
MarkupSafe==1.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pyecharts==0.5.6
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
Pygments==2.2.0
pytz==2018.5
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
